:root {
  --page-bg-color: #ffffff;
  --img-bg-color: #eeeeee;
  --bg-hero-color: #2f303a;
  --footer-color: #2f303a;
  --color-of-headers: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #2196f3;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--color-of-headers);
  background-color: var(--page-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* header */
.page-header {
  border-bottom: 1px solid #ececec;
}

.container-hedear {
  display: flex;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-nav {
  display: flex;
  flex-direction: row;
  margin-left: 93px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.container-contact {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

/* logo */
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: var(--color-of-headers);
  text-decoration: none;
}

span {
  color: var(--logo-color);
}

/* navigation */
.site-nav,
.contact {
  display: flex;
}

.site-nav a {
  color: var(--color-of-headers);
}

.site-nav a {
  margin-left: 50px;
}

.site-nav a,
.contact a {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* contact */
.contact a {
  color: var(--text-color);
}

.contact {
  flex-wrap: wrap;
}

.contact > li:first-child {
  margin-right: 50px;
}

.contact-item a:hover {
  fill: var(--accent-color);
}

.mail-icon {
  width: 16px;
  height: 12px;
}

.phone-icon {
  width: 10px;
  height: 16px;
}

.mail-icon,
.phone-icon {
  fill: #757575;
  margin-right: 10px;
  cursor: pointer;
}

.mail-icon:hover,
.phone-icon:hover {
  fill: var(--accent-color);
}
/* hero */

.section,
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('/images/img-6.jpg');
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}

.button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: #2196f3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* experience */
.experience-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: calc(100% / 4);
}

.experience-list > li {
  width: 270px;
}

.icons-place {
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.experience-icon {
  width: 70px;
  height: 70px;
  background-position: center;
}

.experience-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--color-of-headers);
  margin-bottom: 10px;
}

.experience-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* activity */
.section-activity {
  padding-bottom: 94px;
}

.activity-list {
  display: flex;
}

.activity-list > li:not(:first-child) {
  margin-left: 30px;
}

.activity-title {
  margin-bottom: 50px;
}

.activity-title,
.team-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--color-of-headers);
  text-align: center;
}

/* our team */
.section-team {
  background: #f5f4fa;
}
.team-header {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list > li:not(:first-child) {
  margin-left: 30px;
}

.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee,
.speciality {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.employee {
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--color-of-headers);
}

.speciality {
  color: var(--text-color);
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
}

/* clients */
.clients {
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: calc(100% / 6);
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-list > li:not(:first-child) {
  margin-left: 30px;
}

.clients-button {
  width: 170px;
  height: 92px;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  cursor: pointer;
}

.ya-co {
  fill: #afb1b8;
  width: 41px;
  height: 46.7px;
}

.tag-line-here {
  fill: #afb1b8;
  width: 40px;
  height: 52px;
}

.company {
  fill: #afb1b8;
  width: 43.46px;
  height: 41.18px;
}

.foster-peters {
  fill: #afb1b8;
  width: 84.44px;
  height: 40.62px;
}

.brand {
  fill: #afb1b8;
  width: 62.54px;
  height: 45.43px;
}

.tag-line {
  fill: #afb1b8;
  width: 93.79px;
  height: 43.93px;
}

.clients-button:hover {
  color: var(--accent-color);
}

.ya-co:hover,
.tag-line-here:hover,
.company:hover,
.foster-peters:hover,
.brand:hover,
.tag-line:hover {
  fill: var(--accent-color);
}

/* footer */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-color);
}

.container-footer {
  display: block;
}

.footer-logo {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 20px;
}

.contact-list > a {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.contact-list > li {
  margin-bottom: 9px;
}

.contact-list > li:last-child {
  margin-bottom: 0;
}

.logo:hover,
.logo:focus,
.logo:active,
.footer-logo:focus,
.footer-logo:hover,
.footer-logo:active,
.site-nav a:hover,
.site-nav a:focus,
.site-nav a:active,
.contact a:hover,
.contact a:focus,
.contact :active,
.contact-list a:hover,
.contact-list a:focus,
.contact-list:active {
  color: var(--accent-color);
}

.address-item {
  color: #ffffff;
}

.address-item,
.email-item,
.tel-item {
  font-style: initial;
  text-decoration: none;
}

.email-item,
.tel-item {
  color: rgba(255, 255, 255, 0.6);
}

.completed-work {
  display: none;
}

.filter-list {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 611px;
}

.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--color-of-headers);
  background: #f5f4fa;
  border: none;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
}

.filter:hover,
.filter:focus,
.filter:active {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.card-list > .card-item {
  flex-basis: calc(100% / 3 - 30px);
  background: #ffffff;
  margin-left: 30px;
  margin-bottom: 30px;
}

.card-item > a {
  display: block;
  text-decoration: none;
}

.card-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-of-headers);
}

.text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.card-text {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding: 20px 24px 20px 24px;
}
